<footer class="w-full pt-5 pb-3">
    <h6 class="text-center">
        Creado por <a
            href="https://www.diego18.pro/"
            target="_blank"
            class="font-semibold hover:text-blue-300 transition"
            title="Ir a la website del creador Diego Sanchez">Diego Sanchez</a
        >
    </h6>
</footer>
