---
interface Props {
    title: string;
    place: string;
    path: string;
    icon: any;
    class?: string;
}
const { title, place, path, icon: Icon, class: className } = Astro.props;
---

<aside>
    <a
        title={title}
        class:list={[
            "transition duration-300 ease-in-out",
            place === path
                ? "text-blue-300 cursor-not-allowed"
                : "hover:text-yellow-300",
            className || "",
        ]}
        href={place === path ? null : path}
    >
        <Icon />
    </a>
</aside>
