---
import SearchIcon from "./icons/searchIcon.astro";
---

<div class="flex justify-center">
    <div
        class="grid grid-cols-[1fr_auto] gap-x-2 items-center border border-zinc-600 rounded-xl w-full max-w-[600px] h-10 px-3"
    >
        <input
            class="w-full h-full outline-none"
            placeholder="Buscar..."
            type="text"
        />
        <SearchIcon />
    </div>
</div>
